[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
channels = "*"
django = "<5.3,>5.2"
daphne = "*"
django-cors-headers = "*"
channels-redis = "*"

[dev-packages]

[requires]
python_version = "3.14"
